body {
  padding-top: 70px;
}
/* Navbar Brand */
nav .navbar-brand {
  font-family: "Architects Daughter", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
  font-size: 30px;
}
/* Items Fancy Style */
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 40px;
}
.subtitle {
  font-size: 20px;
  font-weight: bold;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
@media (min-width: 720px) {
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 400px;
  }
  .subtitle {
    font-size: 30px;
    font-weight: bold;
  }
}

/* item card */
.card-hover:hover {
  box-shadow: 0 12.8px 12.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
